{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>CALCULATOR</title>
  </head>
  <body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="#">CALCULATOR</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#about">ABOUT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#instruction">Instruction</a>
              </li>
        </div>
      </nav>

      <div class="container-fluid" style="margin-bottom:20rem;">
          <div class="row">
              <div class="col-md-6" style="margin: 5rem auto 0 auto;">
                <img class="img-fluid" src="{% static 'cal.jpg' %}">
                  <div class="card">
                      <div class="card-body">
                          <form method="GET" action="{% url 'submitquery' %}">
                              <div class="form-group">
                                  <input type="search" class="form-control" name="query" id="query">
                              </div>
                              <div class="row">
                                  <div class="col-md-6">
                                    <input type="submit" class="btn btn-primary" style="display: block; margin: 0 auto;">
                                  </div>
                                  <div class="col-md-6">
                                    <input type="reset" class="btn btn-danger" style="display: block; margin: 0 auto;">
                                  </div>
                              </div>
                          </form>
                          {% if error %}
                          <div class="row" style="margin: 1rem auto 0 auto;">
                            <div class="col-md-6">
                              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <strong>Error!</strong> 
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                            </div>
                          </div>
                          {% endif %}
                          {% if result %}
                              <div class="row" style="margin: 1rem auto 0 auto;">
                                <div class="col-md-6">
                                  <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    <strong>{{q}} = {{ans}}</strong> 
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                </div>
                              </div>
                          {% endif %}
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6" style="margin: 3rem auto 0 auto;">
                <p class="display-4" name="about" id="about" style="text-align: center; font-family: cursive;">
                    About
                </p>
                <hr/>
                <p class="lead" style="text-align: center; font-family: cursive;">
                    This performs Mathematical Operations
                </p>
              </div>
          </div>
          <div class="row">
            <div class="col-md-6" style="margin: 3rem auto 0 auto;">
              <p class="display-4" name="about" id="instruction" style="text-align: center; font-family: cursive;">
                  Instruction
              </p>
              <hr/>
              <ul class="list-group" style="text-align: center;">
                <li class="list-group-item">+   Addition</li>
                <li class="list-group-item">-   Subraction</li>
                <li class="list-group-item">x   Multiplication</li>
                <li class="list-group-item">/   Division</li>
                <li class="list-group-item">( ) Paranthesis</li>
                <li class="list-group-item">**  Exponent</li>
                <li class="list-group-item">%   Mod</li>
                <li class="list-group-item">//  Float</li>
                <li class="list-group-item">   Factorial</li>
              </ul>
            </div>
        </div>
        </div>

      <div class="container-fluid">
          <div class="row">
              <footer class="fixed-bottom bg-dark" style="text-align: center;">
                  <p style="color: #ffff;">Thanks for using my app</p>
              </footer>
          </div>
      </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>